* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;

    font-family: Montserrat, sans-serif;



}

/* navigation latéral */

.cssNavigationLateral {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.cssNavigationLateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.cssNavigationLateral a:hover {
    color: #111;
}

.cssNavigationLateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.cssNavigationLateral.active {
    left: 0;
}

.cssNavigationLateral .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: rgb(250, 250, 250);
    min-width: 250px;
    box-shadow: 0px 8px 16px rgba(54, 27, 27, 0.897);
    padding: 10px;
    z-index: 1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.card-content {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: rgb(20, 151, 112);
    color: rgb(19, 11, 11);
    font-weight: bold;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05rem;
}



.français {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
    padding: 20px;

}

img {
    width: 100%;
}

.detail-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    /* en attente */
}

#btn-french-one {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid black;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    font-size: 40px;
    cursor: pointer;
}

#btn-french-one:hover {
    background-color: green;
}

#details-one {
    height: 0;
    overflow: hidden;
}