:root {
    --primary-color: #708d57;
    --secondary-color: #f5f1e3;
}

* {
    box-sizing: border-box;
<<<<<<< HEAD
    margin: auto;
=======
    margin: 0; 
>>>>>>> origin/dylan
}

@font-face {
    font-family: "ArsenalSC";
    src: url(./Fonts/ArsenalSC.ttf);
}

@font-face {
    font-family: "RoadRage";
    src: url(./Fonts/RoadRage.ttf);
}

.logo {
    width: 100px;
    height: 100px;
<<<<<<< HEAD

=======
>>>>>>> origin/dylan
}

.container {
    display: flex;
    flex-direction: row-reverse;
<<<<<<< HEAD
    gap: 15em
=======
    gap: 15em;
>>>>>>> origin/dylan
}

.nav_image {
    background-image: url("./images/foie-gras-1024x683.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}

<<<<<<< HEAD

header {

    background-color: var(--primary-color);
    text-align: center;

    h1 {
        font-family: ArsenalSC;
        font-size: 45px;
        background-color: var(--secondary-color);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p {
        font-size: 40px;
        font-family: RoadRage;
        background-color: var(--primary-color);
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

=======
header {
    background-color: var(--primary-color);
    text-align: center;
}

.image1 {
    height: 350px;
    width: 300px;
}

header h1 {
    font-family: ArsenalSC;
    font-size: 45px;
    background-color: var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

header p {
    font-size: 40px;
    font-family: RoadRage;
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
>>>>>>> origin/dylan

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #f5f1e3;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

<<<<<<< HEAD

=======
>>>>>>> origin/dylan
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

<<<<<<< HEAD

=======
>>>>>>> origin/dylan
.sidenav.active {
    left: 0;
}

<<<<<<< HEAD

=======
>>>>>>> origin/dylan
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger_button {
    display: block;
    width: 30px;
<<<<<<< HEAD
    margin-left: 35px;
    padding-top: 30px;
=======
    margin-left: 10px;
    padding-top: 30px;
    position: absolute;
    left : 10px; 
    top: 10px;
>>>>>>> origin/dylan
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
<<<<<<< HEAD

}


=======
}

>>>>>>> origin/dylan
button {
    border-radius: 30px;
    background-color: var(--secondary-color);
    font-family: ArsenalSC;
    font-size: 15px;
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown {
    font-family: ArsenalSC;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 15px;
}


.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: rgb(250, 250, 250);
    min-width: 250px;
    box-shadow: 0px 8px 16px rgba(54, 27, 27, 0.897);
    padding: 10px;
    z-index: 1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.card-content {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: rgb(20, 151, 112);
    color: rgb(19, 11, 11);
    font-weight: bold;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05rem;
}

<<<<<<< HEAD
=======
/* mediaquery resto affichage */

@media (min-width: 768px) {
    #restaurant-container {
        display: flex;
        flex-direction: column;
    }

    .restaurant {
        width: 50%;
    }

    .pair-container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .restaurant img {
        max-width: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .descriptif-btn {
        margin: 10px auto 20px;
    }
}

/* ------------------------ */
>>>>>>> origin/dylan

#restaurant-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
<<<<<<< HEAD

=======
}

#restaurant-container .type-container {
    width: 100% !important; 
}

.type-container h2 {
    text-align: center !important; 
    background-color: rgb(220, 220, 200);
    border-radius: 10px;
    font-size: 1.5em;
    font-family: ArsenalSC;
    width: 150px;
    margin: 10px auto;
>>>>>>> origin/dylan
}

.restaurant {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD

    .image {
        width: 100%;
        max-width: 400px;
        height: auto
    }

    /* CSS du bouton détail */
    styled {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: var(--secondary-color);
        background-image: linear-gradient(to top left,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2) 30%,
                rgba(0, 0, 0, 0));
        box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }

    .styled:hover {
        background-color: var(--primary-color);
    }

    .styled:active {
        box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }

}

=======
}

.restaurant .image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.restaurant h2 {
    background-color:var(--secondary-color);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
    margin-top: 40px;
}

/* modif btn sous img restaurant */

.descriptif-btn {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px auto 20px;
}

.descriptif-content {
    display: none;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
}
    



.descriptif-content.show {
    display: block;
}

/* ---------------- */

>>>>>>> origin/dylan

footer {
    background-color: var(--secondary-color);

    .container2 {
        display: flex;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
<<<<<<< HEAD


    styled {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(220, 0, 0, 1);
        background-image: linear-gradient(to top left,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2) 30%,
                rgba(0, 0, 0, 0));
        box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }

    .styled:hover {
        background-color: rgba(255, 0, 0, 1);
    }

    .styled:active {
        box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }

=======
>>>>>>> origin/dylan
}